html {
  font-size: 16px;
  line-height: 1.5;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Russia', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  scroll-behavior: smooth;

  margin: 0;
  color: var(--main-text-color);

  background-color: var(--light-fill);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.h1,
.h2,
.h3,
.h4 {
  margin: 0;
  color: var(--main-title-color);
}

.h1 {
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 1.363636363;
}

.h2 {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.2;
}

.h3 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.272727272;
}

.h4 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.33333333333;
}

img {
  max-width: 100%;
  display: block;
}

.main-layout {
  display: grid;
  overflow: hidden;
  min-width: 1200px;
  max-width: 1920px;
  margin: 0 auto;

  height: 100vh;
  grid-template-columns: auto minmax(calc(100% - 320px), 1fr);
}

.main-content {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.content {
  position: relative;
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex-grow: 1;

  padding: 24px;
}

.content-body {
  position: relative;

  margin-top: 32px;
}

.content-header {
  align-items: center;
}

.section + .section {
  margin-top: 40px;
}

.section__head {
  margin-bottom: 16px;
}

.section__head--flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.section__main--style {
  padding: 24px;
  margin-left: -24px;
  margin-right: -24px;

  background-color: var(--main-white);
}

.title {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.42857142857;

  margin: 0;
}

.caption {
  font-size: .75rem;
  line-height: 1.5;
  margin: 0;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.dropdown {
  z-index: 2;
  display: none;
  overflow: hidden;

  border-radius: 5px;

  background-color: var(--main-white);
  box-shadow: 0 8px 20px rgba(2, 11, 34, .1),
  0 4px 6px rgba(9, 63, 179, .08);
}

.dropdown.show {
  display: block;
}

.dropdown:focus {
  outline: #004aa6;
}

.show .dropdown {
  display: block;

  opacity: 1;
}

.width-auto {
  width: auto !important;
}

.width-500 {
  width: 500px;
}

.width-250 {
  width: 250px;
}

.width-300 {
  width: 300px;
}

.max-w-800 {
  max-width: 800px;
}

.message {
  position: fixed;
  z-index: 30;
  bottom: 32px;
  left: 344px;
  visibility: hidden;

  min-width: 344px;
  max-width: 500px;
  padding: 16px;
  transform: scale(.8);
  opacity: 0;
  color: var(--main-white);

  border-radius: 5px;

  background-color: rgba(0, 0, 0, .87);
}

.message.show {
  visibility: visible;

  transition: opacity .25s cubic-bezier(0, 0, .2, 1) 0ms,
  transform .25s cubic-bezier(0, 0, .2, 1) 0ms;
  transform: scale(1);

  opacity: 1;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

[data-js='drag-scroll'] {
  cursor: grab;
  user-select: none;
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  word-break: break-word;
}

.actions-grid {
  display: grid;
  justify-content: end;
  grid-auto-flow: column;
  grid-gap: 16px;
}

.docs-item {
  margin-top: 8px;
  display: flex;
}

.docs-item__square {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;

  width: 48px;
  height: 48px;

  border-radius: 4px;

  background-color: var(--light-divider-color);
}

.docs-item__icon {
  display: block;
  flex-shrink: 0;

  width: 24px;
  height: 24px;
  fill: var(--border-color);
}

.align-items-end {
  align-items: flex-end;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.preload * {
  transition: none !important;
}

.scroll-block {
  scrollbar-color: rgba(3, 54, 118, 0.83) transparent;
  scrollbar-width: thin;
}

.scroll-block:hover {
  scrollbar-color: #033676 transparent;
  scrollbar-width: thin;
}

.scroll-block::-webkit-scrollbar-track {
  border-radius: 4px;
}

.scroll-block::-webkit-scrollbar {
  width: 6px;
  position: absolute;
  right: 0;
}

.scroll-block::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(3, 54, 118, 0.83);
}

.scroll-block:hover::-webkit-scrollbar-thumb {
  background: #033676;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 40px;
  border: none;
  outline: none;
  padding: 10px;
  z-index: 19;
  text-align: center;
  cursor: pointer;
  color: var(--main-white);
  background-color: var(--action-element-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  transition-timing-function: ease;
  transition-duration: .25s;
  transition-property: background-color, border-color, box-shadow;
  border-radius: 4px;
  margin: 0;
  box-shadow: none;
}

.back-to-top:hover {
  background-color: #0055bf;
}

.back-to-top--show {
  display: block;
}

.back-to-top svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: var(--main-white);
}

.notice {
  border: 1px solid var(--warning-color);
  border-radius: 4px;
  padding: 12px;
  background-color: rgba(255, 149, 0, 0.1);
}

.notice__icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-bottom: 12px;
  float: left;
  fill: var(--warning-color);
}

.info-block {
  display: flex;
  align-items: flex-start;
  align-self: center;
}

.info-block__icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  fill: var(--hint-color);
  margin-right: 8px;
  transform: translateY(2px);
}

.info-block__icon--lg {
  width: 24px;
  height: 24px;
}

.info-block__text {
  max-width: 450px;
  font-size: .75rem;
  line-height: 1.5;
  margin: 0;
  color: var(--hint-color);
}

.input-error {
  position: absolute;
  margin-top: 4px;
  padding: 2px 8px;
  border-radius: 4px;
  color: var(--error-text-color);
  background-color: blanchedalmond;
}

[hidden] {
  display: none !important;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
